In [11]:
import warnings
warnings.filterwarnings('ignore')

In [12]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [16]:
df_can = pd.read_excel('canada.xlsx', 
                       sheet_name='Canada',
                       skiprows=range(20),
                       skip_footer=2)

print ('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [17]:
df_can.head()

,Immigrants,Foreigners,Benin,903,Africa,914,Western Africa,902,Developing regions,2,...,112,95,116,183,205,238,290,284,391,397
0,Immigrants,Foreigners,Bhutan,935,Asia,5501,Southern Asia,902,Developing regions,0,...,1,5,10,7,36,865,1464,1879,1075,487
1,Immigrants,Foreigners,Bolivia (Plurinational State of),904,Latin America and the Caribbean,931,South America,902,Developing regions,44,...,85,134,139,107,143,214,180,86,83,107
2,Immigrants,Foreigners,Bosnia and Herzegovina,908,Europe,925,Southern Europe,901,Developed regions,0,...,188,211,217,209,182,156,168,140,121,119
3,Immigrants,Foreigners,Botswana,903,Africa,913,Southern Africa,902,Developing regions,10,...,9,7,11,8,28,15,42,53,64,76
4,Immigrants,Foreigners,Brazil,904,Latin America and the Caribbean,931,South America,902,Developing regions,211,...,917,969,1181,1746,2138,2509,2598,1508,1642,1714

In [18]:
df_can.tail(2)

,Immigrants,Foreigners,Benin,903,Africa,914,Western Africa,902,Developing regions,2,...,112,95,116,183,205,238,290,284,391,397
172,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
173,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59

In [20]:
df_can.shape

(174, 43)

In [21]:
df_can.columns.values

array(['Immigrants', 'Foreigners', 'Benin', 903, 'Africa', 914,
       'Western Africa', 902, 'Developing regions', 2, 5, 4, 3, '4.1',
       '3.1', 6, '4.2', 20, 14, 13, '13.1', 25, '25.1', 18, 15, 29, 32,
       19, 37, 35, 66, 71, 78, 112, 95, 116, 183, 205, 238, 290, 284, 391,
       397], dtype=object)

In [22]:
df_can.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173], dtype=int64)

In [23]:
print(type(df_can.columns))
print(type(df_can.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [24]:
df_can.columns.tolist()
df_can.index.tolist()

print (type(df_can.columns.tolist()))
print (type(df_can.index.tolist()))

<class 'list'>
<class 'list'>

In [25]:
# size of dataframe (rows, columns)
df_can.shape

(174, 43)

In [28]:
%matplotlib inline 

import matplotlib as mpl
import matplotlib.pyplot as plt

In [29]:
print ('Matplotlib version: ', mpl.__version__)

Matplotlib version:  2.2.2

In [30]:
print(plt.style.available)
mpl.style.use(['ggplot'])

['bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn-bright', 'seaborn-colorblind', 'seaborn-dark-palette', 'seaborn-dark', 'seaborn-darkgrid', 'seaborn-deep', 'seaborn-muted', 'seaborn-notebook', 'seaborn-paper', 'seaborn-pastel', 'seaborn-poster', 'seaborn-talk', 'seaborn-ticks', 'seaborn-white', 'seaborn-whitegrid', 'seaborn', 'Solarize_Light2', 'tableau-colorblind10', '_classic_test']